*{
	margin:0px;
	padding:0px;
}

body{
	background-color: #0093FA;
	position: absolute;

}

span{
	color:white;
	text-align: left;
	font-size:40px;


}
header{
	width: 100%;
	height:30%;
	
}

a{
	border-color:white;
	text-decoration: none;
	color:white;
	font-size:18px;
	border-size:1em;
	border-color: white;
	border-style:solid;
	padding: 1em;
	border-radius: 35%;
	position:relative;
	top:60px;

}

header div{
	width: 50%;
	text-align: center;
	float:left;
	height: 60%;


}

#botaoVoltar{
	width: 100%;
	height: 40%;
}



