*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	width: 100%;
	height:150px;
	position:absolute;

}

.logotipo{
	width: 20vw;
	height:100%;
	float:left;
	border-color:black;
	border-width:1px;
	border-style: solid;
	padding: 0em 1.5em;
	
	
	
}

.logotipo img{
	max-width:266.8px;
	height: 147px;
	border-radius: 50%;
	border-color:black;
	border-width:2px;
	border-style: dashed;
	padding: 1em;
	margin: 0px 13px;

	width: 20vw;
	height:100%;
}


.menu{
	width: 80vw;
	height:100%;
	float:right;
	
}

.menu nav{
	width: 80%;
	height:70%;
	padding: 1em 0em;
	margin:0px auto;
}


.menu a 
{
	text-decoration: none;
	color:black;
	text-transform: uppercase;
}

.menu ul{
	padding:1.5em 0em;
	border-bottom-style: dotted;
	border-top-style: dotted;
	border-bottom-width: 5px;
	border-top-width: 5px;	
	
}

.menu li{
	display:inline;
	padding: 1em 5em;
	text-align: center;
	
}

.menu span{
	color:red;
	text-align: center;
	width: 100%;
	height:100%;
	left:11em;
	position:relative;


}

.menu li:not(#b){
	border-right-style: dotted;
	border-right-width: 5px;
}

@media(max-width: 1460px) {
	.menu ul{
		display:block;
		border-style:none;
		border-width:0px;
		padding: 0px;
	}

	.menu li{
		display:block;
		padding:0px;
	}

	.menu li:not(#b){
	border-right-style: none;
	border-right-width: 0px;
	}

	.menu span{
		margin:0em;
		left:0em;
	}

	.logotipo img{
		margin: 0px calc(13px - 2.3em);
	}

}


@media(max-width: 636px) {

	header{
		width: 100%;
		height:254px;
	}
	.menu nav{
		width:auto;
		height: auto;
	}


}
