*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  text-align:center;

}

.line_one{
  display: block;
}

.line_two{
  display: block;
  text-align: center;
}

.title_box{
  display: inline-block;
  width: 90%;
  height: 14%;
  margin: 0 05%;
  background: rgb(231, 231, 231);
}

.title{
  display: inline-block;
  font-family: 'Bungee Inline', cursive;
  font-size: 30px;
  font-weight: normal;
  padding-right: 10px;
  height: 55px;
  
}


.title_yr{
  display: inline-block;
  height: 22px;
  width: 45px;
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  border-bottom: dotted 1px gray;
  border-top: dotted 1px gray;
	  
}

.title_yr_scd{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
  
}

.title_yr_black{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  width: 38px;
  height: 12px;
  background: black;
  
}

.title_yr_black_link{
  display:inline-block;
  width: 40px;
  height:12px;
  text-align: center;
  text-decoration:none;
  color: white;
}

.title_yr_black_p1{
  display:inline-block;
  color: white;
}

.title_yr_black_p2{
  display:inline-block;
  color: rgb(241, 91, 45);
}

.title_yr_orange{
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  letter-spacing: 5px;
  text-align:center; 
  color: white;
  background: rgb(241, 91, 45);
  width: 100%;
  height: 20px;
  padding-top: 4px;
  margin-top: 7px;
}

@media screen and (min-width:768px) and (max-width:992px){
	
 .title_box{
 	width: 90%;
	height: 20%;
	text-align: center;		
  }

  .title{
	font-size: 75px;
	padding-right: 30px;
	margin-top: -25px;
	height: 145px;
	  
  }

  .line_two{
  	display: inline-block;
	text-align: center;
	padding-left:20px
  }

  .title_yr{
	  height: 50px;
	  width: 110px;
	  font-size: 40px;
	  vertical-align:10px;
	
	}
  
  .title_yr_scd{
  	display:inline-block;
  	font-size:16px;
	letter-spacing:10px;
	vertical-align: middle;

  } 

  .title_yr_black{
   	font-size: 10px;
	height: 25px;
	width: 60px;
	padding-top: 5px;	  
  }
 
  .title_yr_orange{
  	display:inline-block;
	letter-spacing:5px;
	font-size: 10px;
	padding-top: 6px;
	width: 230px;;
	height: 25px;
	} 
	  
  }

  
  @media screen and (min-width:992px){
	
.title_box{
width: 90%;
height: 25%;
text-align: center;
}

.title{
font-size: 105px;
padding-right: 30px;
margin-top:-50px;
height: 200px;
}
.line_two{ 
text-align: center;
padding-left:20px;
display: inline-block;
}

.title_yr{
height: 57px;
width: 130px;
font-size: 47px;
vertical-align:20px;
}

.title_yr_scd{
font-size: 25px;
letter-spacing:12px;
vertical-align: bottom;
}

.title_yr_black{
font-size: 10px;
height: 27px;
width: 60px;
padding-top: 5px;
margin-right: 5px;	  
}

.title_yr_orange{
display:inline-block;
letter-spacing:5px;
font-size: 10px;
padding-top: 6px;
width: 230px;;
height: 27px;


}
}