*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: verdana;
}

main{
	width: 100%;
	height: 1200px;

}

.card{
	width: 33.33%;
	float:left;
	height: 700px;
	position: absolute;
}

.header-card{
	text-align: center;
	width: 100%;
	height: 30%;
	
}

.header-card img{
	width: 100%;
	height: 100%;

}

.header-card span{
	color:white;
	position:relative;
	bottom: 41px;
	left: -183px;
	font-weight: bolder;

}

.header-i{
	position:absolute;
	top:0px;
	left:0px;
	padding:7px;
	color:white;
	margin:0px;

	
}

.play-header{
	width: 0;
	height: 0;
	border-top: 50px solid #56bbbb;
	border-right: 50px solid transparent;
	position: absolute;
	top: 0px;
	left:0.1px;

}


.main-card{
	height:auto;
	width: 100%;
}

.main-card h1 {
 	text-align: left;
 	color:#989898;
	margin:15px; 
}
.main-card header{
	margin-top: 1em;
	margin-bottom: 1em;
}

.main-card p{
	text-align: justify;
	margin: 1em;
	color:#cbcbcb;

}

.main-card footer{
	padding: 2em;

}

.main-card a{
	text-align: center;
	font-weight: bolder;
	text-decoration: none;

}

.main-card footer span{
	color:#56bbbb;
}




.footer-card{
	width: 100%;
	height: 10%;
	background-color:#ebebeb;
	position:absolute;


}

.footer-card ul{
	list-style-type: none;
	position:relative;
	top:13px;

}

.footer-card li{
	display:inline;
	padding: 10px 10px;
}

.footer-card i,span{
	padding-right: 5px;
	padding-left: 5px;
	color:#989898;
}

.footer-card i{
	font-size:25px;
	position:relative;
	top:9px;
}




