*{
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
}

.main_ct{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgb(235, 235, 235);
}

.filter_main{
  position: absolute;
  height: 60px;
  width: 65%;
  top: 0;
  left: 0;
}

.filter_button{
  position: absolute;
  margin-top: 40px;
  border-top: 25px solid rgb(87, 188, 184);
	border-right: 25px solid transparent;
	height: 0;
	width: 60px;
}

.filter{
  font-family: Verdana;
  position: absolute;
  margin-left: 5px;
  margin-top: 44px;
  font-size: 10px;
  color: white;
}

.catalogo_main{
  display: inline-block;
  padding-left: 0;
  position: absolute;
  height: 60px;
  top: 0;
  right: calc(26% + 13px);
}

.catalogo_button{
  position: absolute;
  margin-top: 40px;
  border-top: 25px solid rgb(218, 218, 218);
	border-right: 25px solid transparent;
	margin-right: 10px;
	height: 0;
	width: 60px;
}

.catalogo{
  position: absolute;
  text-decoration: none;
  color: white;
  margin-top: 43px;
  margin-left: 13px;
}

.menu{
  position: absolute;
  margin-left: 35px;
  margin-top: 40px;
  padding-left: 30px;
  border-bottom: 25px solid rgb(255, 255, 255);
	border-left: 25px solid transparent;
	height: 0;
	width: 60px;
}

.menu_button{
  position: absolute;
  text-decoration: none;
  font-size: 17px;
  color: rgb(87, 188, 184);
  margin-top: 43px;
  margin-left: 68px;
}

.middle-area {
  position: relative;
}

.menu-bottom {
  display: inline-block;
  padding-left: 0;
  position: absolute;
  height: 60px;
  bottom: 20px;
  left: 46%;
  font-size: 15px;
}

.menu-bottom .menu{ 
  margin-left: 115px;
  width: 140px;
}

.menu-bottom .catalogo_button{ 
  width: 123px;
  border-top-color: #f6f6f6; 
  color: rgb(87, 188, 184);
}

.menu-bottom .menu_button{ 
  margin-left: 146px;
  font-size: 15px;
  color: rgb(87, 188, 184);
}

.menu-bottom .catalogo{ 
  color: rgb(87, 188, 184);
}